header {
	margin-bottom:0px;
}

/* page style */
html, body {
  background-color:#eee;
}

.main-container {
  background-color:#fff;
  /*width: 80%;*/
  box-shadow:2px 0px 10px #777;
  padding-top: 2em;
  padding-bottom: 5em;
  font-size: 12pt;
}

header ul, header ol {
  padding: 0;
}

footer {
  bottom: 0px;
  width: 100%;
  color:#fff;
  background-color:#666;
  text-align: center;
}
.footer-container{
  height: 40px;
}
.footer-container>div {
    line-height: 40px;
}
@font-face {
  font-family:'Code';
  src: url('../fonts/code/CODE Bold.otf');
}
a {
    color:#174785;
}

h1, h2, h3 {
  margin-top: 1.5em;
}

.navbar {
    margin-bottom: 0px;
    background-color:#174785;
    color:#fff;
    height:70px;
}

.navbar .navbar-brand{
    color:#fff;
    font-family: Code;
    font-size: 4em;
    vertical-align: middle;
    line-height: 50px;
}
.navbar .navbar-nav>li>a{
    color:#fff;
    vertical-align: middle;
    font-size:20px;
    line-height: 40px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color:#aaa;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;`
}

.thumbnail{
    border:none;
    overflow: hidden;
}

.thumbnail img{
    /*height: 255px;*/
    width:255px;
}
#photo-container ul li {
    list-style: none;
    margin: 25px;
    margin-bottom: 25px;
    width: 155px;
    padding: 0px;
    text-align: center;
}
.photo {
    background-size: cover;
    display: block;
    width: 150px;
    height: 150px;
    clear: both;
    margin-bottom: 5px;
    border-radius: 50%;
}
.person {
    font-size: 10pt;
}


/* make that button on publications hidden */
button#cs-widget-button {
	display:none;
}

.pubs {
  font-family: Arial;
  line-height: 15pt;
}
.pubs ul, .pubs ol {
  padding: 0px;
}


.pubs .authors {
  font-size: smaller;
  color: gray;
}
.pubs .conf {
  /*text-transform: uppercase;*/
  font-size: smaller;
}

ul, ol {
  padding: 15px;
}
li {
  margin-bottom: 1em;
}



